<div class="post-index-box">
  <div class="post-bungu-container">

    <% if @scope == "User" %>
    　<p>ユーザー名「 <%= @word %> 」の検索結果</p>
      <% if @users.present? %>
        <%= render 'users/userlist', users: @users %>
      <% else %>
        <p>該当するユーザが見つかりませんでした</p>
      <% end %>
    <% else %>
      <p>商品名「 <%= @word %> 」の検索結果</p>
      <div class="index-post-bungus">
        <% if @post_bungus.present? %>
          <%= render 'post_bungus/content', post_bungus: @post_bungus %>
        <% else %>
          <p>該当する商品が見つかりませんでした</p>
        <% end %>
      </div>
    <% end %>

    <!-- キーワード検索 -->
    <div class="keyword-search-box">
      <%= form_with url: finder_path, local: :true do |f| %>
        <%= f.select :scope, options_for_select([['ユーザー', 'User'], ['商品名', 'PostBungu']]) %>
        <%= f.text_field :word, placeholder: "キーワードを入力", size: "25x40" %>
        <%= f.submit "検索", class: "keyword-submit-btn" %>
      <% end %>
    </div>

  </div>

  <!-- ジャンル検索-->
  <%= render "post_bungus/genre" %>


</div>