<div class="post-index-box">
  <div class="post-bungu-container">

    <% if @scope == "User" %>
      <p>ユーザー名「 <%= @word %> 」の検索結果</p>
      <% if @users.present? %>
        <%= render 'users/userlist', users: @users %>
      <% else %>
        <p>該当するユーザが見つかりませんでした</p>
      <% end %>
      <%= paginate @users %>
    <% else %>
      <p>商品名「 <%= @word %> 」の検索結果</p>
      <div class="index-post-bungus">
        <% if @post_bungus.present? %>
          <%= render 'post_bungus/content', post_bungus: @post_bungus %>
        <% else %>
          <p>該当する商品が見つかりませんでした</p>
        <% end %>
      </div>
      <%= paginate @post_bungus %>
    <% end %>


    <!--キーワード検索-->
    <%= render 'post_bungus/keyword' %>

  </div>

  <!-- ジャンル検索-->
  <%= render "post_bungus/genre" %>


</div>