<div class="profile-container">
  <% if @user.errors.any? %>
    <div class="alert-msg">
      <% @user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
  <%= render 'profile', post_bungus: @post_bungus, user: @user %>
  <div class="user-card-box">
  <div class="user-card-head">
    <p>プロフィール更新</p>
  </div>
  <div class="card-padding">
    <%= form_with model: @user, local: true do |f| %>
      <div class="user-edit-box">
        <p>ニックネーム</p>
        <%= f.text_field :nickname, autofocus: true, size: "30x20" %>
      </div>
      <div class="user-edit-box">
        <p>プロフィール画像</p>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="user-edit-box">
        <p>ユーザー紹介</p>
        <%= f.text_area :self_introduction, size: "40X40", class: "edit-intro-area" %>
      </div>
      <%= f.submit "更新する", class: "user-edit-finish" %>
    <% end %>
  </div>
</div>