<div class="genre-box">
  <!-- ジャンル検索-->
    <ul class="pc-genre">
      <li class="list-head"> 書くもの </li>
      <li><%= link_to "ボールペン", genre_path(1) %></li>
      <li><%= link_to "シャープペンシル系", genre_path(2) %></li>
      <li><%= link_to "色付きペン", genre_path(3) %></li>
      <li><%= link_to "その他「書くもの」", genre_path(4) %></li>
      <li class="list-head"> 書かれるもの </li>
      <li><%= link_to "ノート/ルーズリーフ/メモ", genre_path(5) %></li>
      <li><%= link_to "手帳", genre_path(6) %></li>
      <li><%= link_to "付箋", genre_path(7) %></li>
      <li><%= link_to "その他「書かれるもの」", genre_path(8) %></li>
      <li class="list-head"> 貼るもの </li>
      <li><%= link_to "のり/テープのり", genre_path(9) %></li>
      <li><%= link_to "テーブ/マスキングテーブ", genre_path(10) %></li>
      <li><%= link_to "シール/スタンプ", genre_path(11) %></li>
      <li class="list-head"> はかるもの </li>
      <li><%= link_to "定規/メジャー/ストップウォッチ", genre_path(12) %></li>
      <li class="list-head"> 入れもの </li>
      <li><%= link_to "ペンケース/ファイル", genre_path(13) %></li>
      <li class="list-head"> その他 </li>
      <li class="list-bottom-padding"><%= link_to "その他文房具", genre_path(14) %></li>
    </ul>
  </div>