<div class="genre-box">
  <!-- ジャンル検索-->
    <ul class="pc-genre">
      <li class="list-head"> 書くもの </li>
      <li><%= link_to genre_path(1) do %><p>ボールペン</p><% end %></li>
      <li><%= link_to genre_path(2) do %><p>シャープペンシル系</p><% end %></li>
      <li><%= link_to genre_path(3) do %><p>色付きペン</p><% end %></li>
      <li><%= link_to genre_path(4) do %><p>その他「書くもの」</p><% end %></li>
      <li class="list-head"> 書かれるもの </li>
      <li><%= link_to genre_path(5) do %><p>ノート/ルーズリーフ/メモ</p><% end %></li>
      <li><%= link_to genre_path(6) do %><p>手帳</p><% end %></li>
      <li><%= link_to genre_path(7) do %><p>付箋</p><% end %></li>
      <li><%= link_to genre_path(8) do %><p>その他「書かれるもの」</p><% end %></li>
      <li class="list-head"> 貼るもの </li>
      <li><%= link_to genre_path(9) do %><p>のり/テープのり</p><% end %></li>
      <li><%= link_to genre_path(10) do %><p>テーブ/マスキングテーブ</p><% end %></li>
      <li><%= link_to genre_path(11) do %><p>シール/スタンプ</p><% end %></li>
      <li class="list-head"> はかるもの </li>
      <li><%= link_to genre_path(12) do %><p>定規/メジャー/ストップウォッチ</p><% end %></li>
      <li class="list-head"> 入れもの </li>
      <li><%= link_to genre_path(13) do %><p>ペンケース/ファイル</p><% end %></li>
      <li class="list-head"> その他 </li>
      <li><%= link_to genre_path(14) do %><p>その他文房具</p><% end %></li>
    </ul>
  </div>