<div class="post-index-box">
  <div class="post-bungu-container">

    <!-- ランキング -->
    <div class="ranking-container">
      <div class="subject-box">
        <p class="subject-name">注目の文房具</p>
      </div>
      <div class="rank-flex-box">
        <% @week_like_ranks.each.with_index(1) do |post_bungu, i| %>
          <div class="rank-flex">
            <div class="rank-number">
              <p><i class="fas fa-medal"></i> No.<%= i %></p>
            </div>
            <div class="rank-bungu">
              <!--<div class="bungu-photo">-->
              <!--<% post_bungu.bungu_images.first(1).each do |bungu_image| %>-->
              <!--  <%= attachment_image_tag bungu_image, :image %>-->
              <!--<% end %>-->
              <!--</div>-->
              <div class="bungu-info">
                <div class="rank-border">
                  <div class="post-detail">
                    <p class="post-time"><i class="far fa-clock"></i> <%= post_bungu.created_at.to_s(:datetime_jp) %></p>
                    <%= link_to user_path(post_bungu.user_id) do %><p class="post-name"><i class="far fa-user"></i> <%= post_bungu.user.nickname %></p><% end %>
                  </div>
                  <div class="bungu-detail-rank">
                    <div class="rank-bungu-index">
                      <%= link_to post_bungu_path(post_bungu) do %>
                        <p class="catch"><%= post_bungu.catchphrase.truncate(25) %></p>
                        <p class="bungu-name-rank">「 <%= post_bungu.bungu_name.truncate(20) %> 」</p>
                      <% end %>
                    </div>
                    <% if post_bungu.bungu_images.present? %>
                      <% post_bungu.bungu_images.first(1).each do |bungu_image| %>
                        <%= attachment_image_tag bungu_image, :image %>
                      <% end %>
                    <%else %>
                      <%= image_tag 'test.jpg', size: '80x80' %>
                    <% end %>
                  </div>


                </div>
              </div>
            </div>

          </div>

        <% end %>
      </div>
    </div>

    <div class="postnew-box">
      <div class="subject-box">
        <p class="subject-name">最新投稿</p>
      </div>
      <div class="index-post-bungus">
        <%= render 'post_bungus/content', post_bungus: @post_bungus %>
      </div>

      <div class="link-box">
        <div class="post-link">
          <%= link_to search_path do %>
            <p>投稿をもっと見る</p>
          <% end %>
        </div>
      </div>
    </div>

　　<!--キーワード検索-->
    <%= render 'keyword' %>


  </div>

  <!-- ジャンル検索-->
  <%= render "genre" %>





</div>