<div class="post-bungu-container">
  <!-- キーワード検索-->
  <table class="table table-bordered genre-table">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name, genre_path(genre.id)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- キーワード検索 -- !>
  

  <!--投稿日時、いいね数でソート-->
  <%= form_with url: post_bungus_path, method: :get, local: true do |f| %>
    <%= f.select :key, [ ['投稿が新しい順', 'new'],
                         ['投稿が古い順', 'old'],
                         ['いいねが多い順', 'manylikes'],
                         ['いいねが少ない順', 'littlelikes'],
                       ], prompt: "check" %>
    <%= f.submit "並び替える", class: "sort-box"%>
  <% end %>

  <% if @selection == 'new' %>
    <p>投稿が新しい文房具順</p>
  <% elsif @selection == 'old' %>
    <p>投稿が古い文房具順</p>
  <% elsif @selection == 'manylikes' %>
    <p>いいねが多めな文房具順</p>
  <% elsif @selection == 'littlelikes' %>
    <p>いいねが少なめな文房具順</p>
  <% end %>

  <% @post_bungus.each do |post_bungu| %>
    <div class="bungu">
      <div class="bungu-photo">
      <% post_bungu.bungu_images.first(1).each do |bungu_image| %>
        <%= attachment_image_tag bungu_image, :image %>
      <% end %>
      </div>
      <div class="bungu-info">
        <p><%= post_bungu.created_at.to_s(:datetime_jp) %></p>
        <p><%= post_bungu.catchphrase %></p>
        <p><%= post_bungu.bungu_name %></p>
        <p><%= post_bungu.user.nickname %></p>
      <%= link_to '投稿詳細へ', post_bungu_path(post_bungu) %>
      </div>
      <div>
        <% if user_signed_in? %>　<!--ログインしているユーザだけが、見ることができる -->
          <% if current_user.own?(post_bungu) %> <!--自分の(currentuserの)文房具投稿の場合 -->
              <p>いいね: <%= post_bungu.likes.count %>ポイント</p>
          <% else %>　<!--他の人の(currentuser以外の)文房具投稿の場合 -->
          　<div id="btn_<%= post_bungu.id %>">
              <% if current_user.liked_by?(post_bungu) %>
                <%= render 'likes/unlike_button', post_bungu: post_bungu %>
              <% else %>
                <%= render 'likes/like_button', post_bungu: post_bungu %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>