<div class="post-bungu-container">
  <div class="subject-box">
    <p class="subject-name">最新投稿</p>
  </div>
  <!-- ジャンル検索-->
  <table class="table table-bordered genre-table">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name, genre_path(genre.id)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @selection == 'new' %>
    <p>投稿が新しい文房具順</p>
  <% elsif @selection == 'old' %>
    <p>投稿が古い文房具順</p>
  <% elsif @selection == 'manylikes' %>
    <p>いいねが多めな文房具順</p>
  <% elsif @selection == 'littlelikes' %>
    <p>いいねが少なめな文房具順</p>
  <% end %>
  
  <div class="index-post-bungus">
    <% @post_bungus.each do |post_bungu| %>
      <div class="bungu">
        <div class="bungu-photo">
        <% post_bungu.bungu_images.first(1).each do |bungu_image| %>
          <%= attachment_image_tag bungu_image, :image %>
        <% end %>
        </div>
        <div class="bungu-info">
          <div class="post-detail">
            <p class="post-time"><i class="far fa-clock"></i> <%= post_bungu.created_at.to_s(:datetime_jp) %></p>
            <p class="post-name"><%= link_to user_path(post_bungu.user_id) do %><i class="far fa-user"></i> <%= post_bungu.user.nickname %><% end %></p>
          </div>
          <div class="bungu-detail">
            <%= link_to post_bungu_path(post_bungu) do %>
              <p><%= post_bungu.catchphrase.truncate(25) %></p>
              <p class="bungu-name">「 <%= post_bungu.bungu_name.truncate(20) %> 」</p>
            <% end %>
          </div>
  
          <div>
            <% if user_signed_in? %>  <!--ログインしているユーザだけが、見ることができる -->
              <% if current_user.own?(post_bungu) %> <!--自分の(currentuserの)文房具投稿の場合 -->
                  <p><%= post_bungu.likes.count %> Like !</i></p>
              <% else %>  <!--他の人の(currentuser以外の)文房具投稿の場合 -->
                <div id="btn_<%= post_bungu.id %>">
                  <% if current_user.liked_by?(post_bungu) %>
                    <%= render 'likes/unlike_button', post_bungu: post_bungu %>
                  <% else %>
                    <%= render 'likes/like_button', post_bungu: post_bungu %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
  
        </div>
      </div>
    <% end %>
  </div>

  <div class="link-box">
    <div class="post-link">
      <%= link_to search_path do %>
        <p>投稿をもっと見る</p>
      <% end %>
    </div>
  </div>

  <!-- キーワード検索 -->
  <%= form_with url: finder_path, local: :true do |f| %>
    <%= f.select :scope, options_for_select([['ユーザー', 'User'], ['商品名', 'PostBungu']]) %>
    <%= f.text_field :word, placeholder: "キーワードを入力" %>
    <%= f.submit "検索", class: "keyword-submit-btn" %>
  <% end %>

  <% @week_like_ranks.each.with_index(1) do |post_bungu, i| %>
    第<%= i %>位
    <%= post_bungu.user.nickname %>
    <p>商品名: <%= post_bungu.bungu_name %></p>
　<% end %>
</div>