<div class="post-index-box">
  <div class="post-bungu-container">

    <!--<% if @selection == 'new' %>-->
    <!--  <p>投稿が新しい文房具順</p>-->
    <!--<% elsif @selection == 'old' %>-->
    <!--  <p>投稿が古い文房具順</p>-->
    <!--<% elsif @selection == 'manylikes' %>-->
    <!--  <p>いいねが多めな文房具順</p>-->
    <!--<% elsif @selection == 'littlelikes' %>-->
    <!--  <p>いいねが少なめな文房具順</p>-->
    <!--<% end %>-->

    <!-- ランキング -->
    <div class="ranking-container">
      <div class="subject-box">
        <p class="subject-name">注目の文房具</p>
      </div>
      <div class="rank-flex-box">
        <% @week_like_ranks.each.with_index(1) do |post_bungu, i| %>
          <div class="rank-flex">
            <div class="rank-number">
              <p><i class="fas fa-medal"></i> No.<%= i %></p>
            </div>
            <div class="rank-bungu">
              <!--<div class="bungu-photo">-->
              <!--<% post_bungu.bungu_images.first(1).each do |bungu_image| %>-->
              <!--  <%= attachment_image_tag bungu_image, :image %>-->
              <!--<% end %>-->
              <!--</div>-->
              <div class="bungu-info">
                <div class="rank-border">
                  <div class="post-detail">
                    <p class="post-time"><i class="far fa-clock"></i> <%= post_bungu.created_at.to_s(:datetime_jp) %></p>
                    <%= link_to user_path(post_bungu.user_id) do %><p class="post-name"><i class="far fa-user"></i> <%= post_bungu.user.nickname %></p><% end %>
                  </div>
                  <div class="bungu-detail-rank">
                    <div class="rank-bungu-index">
                      <%= link_to post_bungu_path(post_bungu) do %>
                        <p class="catch"><%= post_bungu.catchphrase.truncate(25) %></p>
                        <p class="bungu-name-rank">「 <%= post_bungu.bungu_name.truncate(20) %> 」</p>
                      <% end %>
                    </div>
                    <% if post_bungu.bungu_images.present? %>
                      <% post_bungu.bungu_images.first(1).each do |bungu_image| %>
                        <%= attachment_image_tag bungu_image, :image %>
                      <% end %>
                    <%else %>
                      <%= image_tag 'test.jpg', size: '80x80' %>
                    <% end %>
                  </div>


                </div>
              </div>
            </div>

          </div>

        <% end %>
      </div>
    </div>

    <div class="postnew-box">
      <div class="subject-box">
        <p class="subject-name">最新投稿</p>
      </div>
      <div class="index-post-bungus">
        <%= render 'post_bungus/content', post_bungus: @post_bungus %>
      </div>

      <div class="link-box">
        <div class="post-link">
          <%= link_to search_path do %>
            <p>投稿をもっと見る</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- キーワード検索 -->
    <div class="keyword-search-box">
      <%= form_with url: finder_path, local: :true do |f| %>
        <%= f.select :scope, options_for_select([['ユーザー', 'User'], ['商品名', 'PostBungu']]) %>
        <%= f.text_field :word, placeholder: "キーワードを入力" %>
        <%= f.submit "検索", class: "keyword-submit-btn" %>
      <% end %>
    </div>


  </div>

  <div class="genre-box">
  <!-- ジャンル検索-->
    <ul class="pc-genre">
      <li class="list-head"> 書くもの </li>
      <li><%= link_to "ボールペン", genre_path(1) %></li>
      <li><%= link_to "シャープペンシル系", genre_path(2) %></li>
      <li><%= link_to "色付きペン", genre_path(3) %></li>
      <li><%= link_to "その他「書くもの」", genre_path(4) %></li>
      <li class="list-head"> 書かれるもの </li>
      <li><%= link_to "ノート/ルーズリーフ/メモ", genre_path(5) %></li>
      <li><%= link_to "手帳", genre_path(6) %></li>
      <li><%= link_to "付箋", genre_path(7) %></li>
      <li><%= link_to "その他「書かれるもの」", genre_path(8) %></li>
      <li class="list-head"> 貼るもの </li>
      <li><%= link_to "のり/テープのり", genre_path(9) %></li>
      <li><%= link_to "テーブ/マスキングテーブ", genre_path(10) %></li>
      <li><%= link_to "シール/スタンプ", genre_path(11) %></li>
      <li class="list-head"> はかるもの </li>
      <li><%= link_to "定規/メジャー/ストップウォッチ", genre_path(12) %></li>
      <li class="list-head"> 入れもの </li>
      <li><%= link_to "ペンケース/ファイル", genre_path(13) %></li>
      <li class="list-head"> その他 </li>
      <li class="list-bottom-padding"><%= link_to "その他文房具", genre_path(14) %></li>
    </ul>
  </div>





</div>