<div class="new-post-box">
  <div class="post-bg">
    <div class="newpost-index">
      <% if @post_bungu.errors.any? %>
        <div class="alert-msg">
          <% @post_bungu.errors.full_messages.each do |message| %>
            <%= message %><br>
          <% end %>
        </div>
      <% end %>
      <div class="stationery-img-box">
        <%= image_tag 'stationery.png', size: '300x200' %>
      </div>
      <%= form_with model:@post_bungu, local:true do |f| %>
        <div class="newpost">
          <div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 文房具のキャッチフレーズ<span class="required">必須</span></p>
              <p>例) 文房具店で一目惚した、素敵な手帳！ など</p>
              <%= f.text_area :catchphrase, autofocus: true, size: "40X40" %>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 画像</p>
              <p>複数枚選択可能です</p>
              <%= f.attachment_field :bungu_images_images, multiple: true %>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 商品名<span class="required">必須</span></p>
              <%= f.text_area :bungu_name, size: "40X40" %>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> ジャンル<span class="required">必須</span></p>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "選択してください" } %>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 使い心地や良い点など</p>
              <p>自由にお書きください !</p>
              <%= f.text_area :thought,  size: "40X100", class: "thought-area" %>
            </div>
          </div>
          <div>
            <div class="newpost-form-box">
              <div id="rate-stars">
                <p class="newpost-heading"><i class="fas fa-paperclip"></i> 評価<span class="required">必須</span></p>
                <%= render 'post_bungus/star' %>
              </div>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> メーカー<span class="required">必須</span></p>
              <% PostBungu.manufacturers_i18n.each do |value, manufacturer| %>
                <div>
                  <label>
                    <%= f.radio_button :manufacturer, value, class: "manufacturer-radiobtn" %>
                    <%= manufacturer %>
                  </label>
                </div>
              <% end %>
              <div class="other_manufacturer_text">
                <%= f.text_field :other_manufacturer, size: 40 %>
              </div>
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 値段<span class="required">必須</span></p>
              <%= f.text_field :price %> 円
            </div>
            <div class="newpost-form-box">
              <p class="newpost-heading"><i class="fas fa-paperclip"></i> 購入場所<span class="required">必須</span></p>
              <%= f.text_area :place, size: "40X40" %>
            </div>
          </div>
        </div>
        <div class="newpost-check">
          <p>ボタンを押す前に、入力欄をもう一度確認しましょう</p>
        </div>
        <div class="submit-box">
          <%= f.submit '投稿する', class: "newpost-submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>