<div class="new-post-box">
  <div class="post-bg">
    <div class="newpost-index">

    <!--<p class="admin-comment">あなたの文房具を<br>紹介してください!</p>-->

    <div class="newpost">
      <%= form_with model:@post_bungu, local:true do |f| %>
        <div class="newpost-form-box">
          <p class="newpost-heading">文房具のキャッチフレーズ</p>
          <p>例えば... 文房具点で一目惚れした手帳</p>
          <%= f.text_area :catchphrase, autofocus: true, size: "40X40" %>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">画像</p>
          <p>複数枚OK</p>
          <%= f.attachment_field :bungu_images_images, multiple: true %>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">商品名</p>
          <%= f.text_area :bungu_name, size: "40X40" %>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">ジャンル</p>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "選択してください" } %>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">使い心地や良い点など</p>
          <p>自由にお書きください !</p>
          <%= f.text_area :thought,  size: "40X100" %>
        </div>
        <div class="newpost-form-box">
          <div id="rate-stars">
            <p class="newpost-heading">評価</p>
            <%= render 'post_bungus/star' %>
          </div>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">メーカー</p>
          <% PostBungu.manufacturers_i18n.each do |value, manufacturer| %>
            <div>
              <label>
                <%= f.radio_button :manufacturer, value %>
                <%= manufacturer %>
              </label>
            </div>
          <% end %>
          <div class="other_manufacturer_text"><%= f.text_field :other_manufacturer, size: 40 %></div>
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">値段</p>
          <%= f.text_field :price %> 円
        </div>
        <div class="newpost-form-box">
          <p class="newpost-heading">購入場所</p>
          <%= f.text_area :place, size: "40X40" %>
        </div>

        <div class="newpost-check">
          <p>投稿ボタンを押す前に確認しましょう</p>
          <p></p>
        </div>
        <%= f.submit '投稿する' %>
      <% end %>

    </div>

    </div>
  </div>
</div>