<div class="new-post-box">
  <div class="post-index-container">
    <div class="show-post-box">
      <div class="show-bungu-heading">

        <div class="editdestroy-btn-box">
          <% if @post_bungu.user_id == current_user.id %>
            <%= link_to edit_post_bungu_path(@post_bungu) do %>
              <p class="edit-btn">編集</p>
            <% end %>
            <%= link_to post_bungu_path(@post_bungu), method: :delete do %>
              <p class="destroy-btn">削除</p>
            <% end %>
          <% end %>
        </div>

        <p class="catchphrase-heading"><%= @post_bungu.catchphrase %></p>
        <p class="bungu-name">「 <%= @post_bungu.bungu_name %> 」</p>
        <div class="bungu-rate" data-score="<%= @post_bungu.rate %>"></div>
      　<%= render 'post_bungus/star' %>
        <div class="post-day">
          <p>投稿日 <%= @post_bungu.created_at.to_s(:datetime_jp) %><p>
        </div>

      </div>

      <div class="thought">
        <p><%= @post_bungu.thought %></p>
      </div>

      <table class="table table-striped" id="bungu-table">
        <tbody>
          <tr>
            <th>メーカー</th>
            <td>
              <% if @post_bungu.manufacturer != "other" %>
                <%= @post_bungu.manufacturer_i18n %>
              <% else %>
                <%= @post_bungu.other_manufacturer %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>値段</th>
            <td><%= @post_bungu.price %><sapn> 円</span></td>
          </tr>
          <tr>
            <th>購入場所</th>
            <td><%= @post_bungu.place %></td>
          </tr>
        </tbody>
      </table>

      <div class="display">
        <% @post_bungu.bungu_images.each do |bungu_image| %>
          <div class="show-image">
          <%= attachment_image_tag bungu_image, :image %>
          </div>
        <% end %>
      </div>
    </div>
      <!--コメント-->
    <div class="comment-box">
      <div class="comment-create">
        <p class="comment-top">コメント</p>
      </div>
      <div id="comments_area">
        <%= render partial: 'post_comments/index', locals: { post_comments: @post_comments } %>
      </div>

        <% if user_signed_in? %>
          <div>
            <p class="text-left"></p>
            <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post_bungu: @post_bungu } %>
          </div>
        <% end %>
    </div>

  </div>
</div>
