<div class="new-post-box">
  <div class="post-bg">
    <div class="show-post-box">
      <div class="show-bungu-heading">
        <p class="catchphrase-heading"><%= @post_bungu.catchphrase %></p>
        <p class="bungu-name">「 <%= @post_bungu.bungu_name %> 」</p>
      </div>

      <div class="bungu-rate" data-score="<%= @post_bungu.rate %>"></div>
      <%= render 'post_bungus/star' %>

      <div class="thought">
        <p><%= @post_bungu.thought %></p>
      </div>

      <h4>メーカー</h4>
      <% if @post_bungu.manufacturer != "other" %>
        <%= @post_bungu.manufacturer_i18n %>
      <% else %>
        <%= @post_bungu.other_manufacturer %>
      <% end %>
      <h4>購入場所</h4>
      <%= @post_bungu.place %>
      <% if @post_bungu.user_id == current_user.id %>
        <p><%= link_to '編集する', edit_post_bungu_path(@post_bungu) %></p>
        <p><%= link_to '削除する', post_bungu_path(@post_bungu), method: :delete %></p>
      <% end %>

      <%= @post_bungu.price %><sapn>円</span>

      <h4>投稿日</h4>
      <%= @post_bungu.created_at.to_s(:datetime_jp) %>

      <div class="display">
        <% @post_bungu.bungu_images.each do |bungu_image| %>
          <div class="show-image">
          <%= attachment_image_tag bungu_image, :image %>
          </div>
        <% end %>
      </div>

      <!--コメント-->
      <div>
        <ul>
            <li class="comment-create">
                <h3 class="text-left title">レビュー</h3>
            </li>
            <li id="comments_area">
                <%= render partial: 'post_comments/index', locals: { post_comments: @post_comments } %>
            </li>
        </ul>
        <hr>
          <% if user_signed_in? %>
            <div class="comment-create">
              <h3 class="text-left">レビューを投稿する</h3>
              <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post_bungu: @post_bungu } %>
            </div>
          <% end %>
      </div>

    </div>
  </div>
</div>