<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>BunbouguToIssho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="main-head">
        <%= image_tag 'logo.jpg' %>
        <div id="nav-button" class="nav-button">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="sub-head">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to "TOP", root_path %><i class="fas fa-home"></i></li>
            <li><%= link_to "About", homes_about_path %><i class="fas fa-pencil-alt"></i></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><i class="fas fa-sign-out-alt"></i></li>
            <li><%= link_to "ユーザ一覧", users_path %><i class="fas fa-user-friends"></i></li>
            <li><%= link_to "文房具投稿一覧", post_bungus_path %><i class="fas fa-book-open"></i></li>
            <li><%= link_to "文房具新規投稿", new_post_bungu_path %><i class="far fa-edit"></i></li>
            <li><%= link_to "マイページ", user_path(current_user) %><i class="far fa-address-card"></i></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "TOP", root_path %><i class="fas fa-home"></i></li>
            <li><%= link_to "新規登録", new_user_registration_path %><i class="fas fa-user-plus"></i></li>
            <li><%= link_to "ログイン", new_user_session_path %><i class="fas fa-sign-in-alt"></i></li>
            <li><%= link_to "About", homes_about_path %><i class="fas fa-pencil-alt"></i></li>
          </ul>
        <% end %>
      </div>
      <nav class="sp-nav">
        <div class="nav-inner">
          <ul class="sp-nav-list">
            <% @genres.each do |genre| %>
              <li><%= link_to genre.name, genre_path(genre.id) %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
