<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>BunbouguToIssho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header" id="mask">
      <div class="main-head">
        <div class="logo">
          <%= image_tag 'logo.jpg' %>
        </div>
        <div id="nav-button" class="nav-button">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="sub-head">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to "TOP", root_path %><i class="fas fa-home"></i></li>
            <li><%= link_to "About", homes_about_path %><i class="fas fa-pencil-alt"></i></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><i class="fas fa-sign-out-alt"></i></li>
            <li><%= link_to "ユーザ一覧", users_path %><i class="fas fa-user-friends"></i></li>
            <li><%= link_to "文房具投稿一覧", search_path %><i class="fas fa-book-open"></i></li>
            <li><%= link_to "文房具新規投稿", new_post_bungu_path %><i class="far fa-edit"></i></li>
            <li><%= link_to "マイページ", user_path(current_user) %><i class="far fa-address-card"></i></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "TOP", root_path %><i class="fas fa-home"></i></li>
            <li><%= link_to "新規登録", new_user_registration_path %><i class="fas fa-user-plus"></i></li>
            <li><%= link_to "ログイン", new_user_session_path %><i class="fas fa-sign-in-alt"></i></li>
            <li><%= link_to "About", homes_about_path %><i class="fas fa-pencil-alt"></i></li>
          </ul>
        <% end %>
      </div>
      <nav class="sp-nav">
        <div class="nav-inner">
          <ul class="sp-nav-list">
              <li class="list-head">---- 書くもの ----</li>
              <li><%= link_to "ボールペン", genre_path(1) %></li>
              <li><%= link_to "シャープペンシル系", genre_path(2) %></li>
              <li><%= link_to "色付きペン", genre_path(3) %></li>
              <li><%= link_to "その他「書くもの」", genre_path(4) %></li>
              <li class="list-head">---- 書かれるもの ----</li>
              <li><%= link_to "ノート/ルーズリーフ/メモ", genre_path(5) %></li>
              <li><%= link_to "手帳", genre_path(6) %></li>
              <li><%= link_to "付箋", genre_path(7) %></li>
              <li><%= link_to "その他「書かれるもの」", genre_path(8) %></li>
              <li class="list-head">---- 貼るもの ----</li>
              <li><%= link_to "のり/テープのり", genre_path(9) %></li>
              <li><%= link_to "テーブ/マスキングテーブ", genre_path(10) %></li>
              <li><%= link_to "シール/スタンプ", genre_path(11) %></li>
              <li class="list-head">---- はかるもの ----</li>
              <li><%= link_to "定規/メジャー/ストップウォッチ", genre_path(12) %></li>
              <li class="list-head">---- 入れもの ----</li>
              <li><%= link_to "ペンケース/ファイル", genre_path(13) %></li>
              <li class="list-head">---- その他 ----</li>
              <li class="list-bottom-padding"><%= link_to "その他文房具", genre_path(14) %></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
